<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="connStr1" connectionString="Data Source=192.168.98.199; Initial Catalog=JITSys;User ID=sa;Password=wingstar;Connect Timeout=0"/>
    <add name="connStr" connectionString="Data Source=.;Initial Catalog=ItcastSIM;Integrated Security=True;Connect Timeout=0"/>
    <add name="connStr198" connectionString="Data Source=192.168.98.198; Initial Catalog=Draw;User ID=qq;Password=123#123;Connect Timeout=0"/>
    <add name="COM" connectionString="COM3"/>
    <!--COM口配置-->
    <add name="Bluetooth" connectionString="NETUM Bluetooth"/>
    <!--蓝牙枪名称-->
  </connectionStrings>

     <appSettings>
       <!--   https://www.cnblogs.com/liangwenchao-912/p/5084076.html -->  
        <!-- Language的值只能是Chinese（中文），English（英文） -->
        <add key="Language" value="English"/>
       <add key="Language1" value="Chinese"/>       
     </appSettings> 
  
</configuration>

