<?xml version="1.0" encoding="utf-8" ?>
  <UpdateConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <ServerUrl>http://192.168.98.197/AutoUpdater/updateservice.xml</ServerUrl>
    <UpdateFileList>
      <LocalFile path="Debug.zip" lastver="1.0.4.7" size="7208536"  remark="
    1、修正成品仓盘点出不来NULL的BUG
 "        needRestart="true" />
    </UpdateFileList>
  </UpdateConfig>
